//====================================================================================================
.header {
  height: 64px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: calc(100% - 200px);
  font-weight: 500;
  padding: 0.9rem 40px;
  &__row {
    @include flexbox();
    width: 100%;
    align-items: center;
  }
  &__alert {
    @include flexbox();
    justify-content: center;
    flex: 1 1 auto;
  }
  &__alert-content {
    @include flexbox();
    align-items: center;
    padding: 7px;
    background: rgba(18, 20, 43, 0.5);
    font-size: 1rem;
    color: hsla(0, 0%, 100%, 0.6);
    border-radius: 10px;
    button {
      background: none;
      color: #3979f6;
      padding: 0 5px;
    }
    svg {
      width: 20px;
      height: 20px;
      fill: #3979f6;
    }
  }
  &__profile {
    @include flexbox();
    position: relative;
  }
  &__info {
    @include flexbox();
    padding: 0 12px;
    position: relative;
    cursor: pointer;
    svg {
      width: 13px;
      opacity: 0.8;
      height: 40px;
      fill: rgb(193, 195, 207);
    }
  }
  &__photo {
    @include flexbox();
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 40px;
    width: 40px;
    font-weight: 600;
    font-size: 18px;
    margin-right: 10px;
    border-radius: 50%;
    img {
      object-fit: cover;
      width: 100%;
    }
  }
  &__name {
    @include flexbox();
    align-items: center;
  }
  &__drop-notifications {
    @include flexbox();
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    margin: auto 6px;
    border-radius: 50%;
    color: #1b1e3f;
    font-size: 12px;
    font-weight: 700;
    background-color: #db2a34;
  }
  &__functionals {
    @include flexbox();
    cursor: pointer;
    svg {
      @media (min-width: $md2+px) {
        &:hover {
          @include anim(0.3s, 0s);
          fill: #3979f6;
        }
      }
      fill: #c1c3cf;
      width: 20px;
      height: 20px;
    }
    div {
      padding: 0.5rem 12px;
    }
  }
  &__messages {
    border-right: 2px solid #c1c3cf;
  }
  &__tickets {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      bottom: 6px;
      right: 5px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: green;
    }
  }
}
.btn-close {
  font-size: 18px;
  padding-left: 10px !important;
}

.notifications-header {
  &__wrapper {
    background: radial-gradient(farthest-side ellipse at 10% 0, #333867 20%, #17193b);
    box-shadow: 0 0 40px 2px RGBA(2 2 2 / 50%);
    position: absolute;
    top: 64px;
    left: auto;
    width: 333px;
    right: 0;
    z-index: 33;
    border-radius: 9px 9px 0 0;
    display: none;
  }
  &__title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 0.5rem;
    padding-top: 15px;
  }
  &__filter {
    margin-bottom: 0.85rem;
  }
  &__category {
    justify-content: center;
    @include flexbox();
  }
  &__decor {
    border: 1px solid #4d5490;
    border-radius: 1px;
    display: inline-block;
    padding: 0.3rem 0.6rem;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #474d84;
    background-color: transparent;
    &_active {
      background-color: #474d84;
      color: #f4f4f5;
    }
    @media (min-width: $md2+px) {
      &:hover {
        @include anim(0.3s, 0s);
        background-color: #474d84;
        color: #f4f4f5;
      }
    }
    &_unic {
      border-left: 0;
      border-right: 0;
    }
  }
  &__item {
    @include flexbox();
    padding: 0px 15px 0px 15px;
    &:hover {
      @include anim(0.3s, 0s);
      background-color: rgba(0, 0, 0, 0.24);
      color: rgba(244, 244, 245, 0.9);
    }
  }
  &__image {
    width: 50px;
    margin-right: 10px;
    img {
      height: auto;
      max-width: 100%;
      border-radius: 50%;
    }
  }
  &__text {
    line-height: 20px;
    margin-bottom: 5px;
  }
  &__time {
    font-size: 0.9rem;
    color: #c1ccd3;
    display: block;
    margin-bottom: 15px;
  }
  &__date {
    @include flexbox();
    padding: 5px 15px 5px 15px;
  }

  &__number {
    flex: 1 1 auto;
  }
  &__content {
    height: 340px;
    overflow-y: scroll;
    display: block;
    &::-webkit-scrollbar {
      width: 7px;
    }
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;

      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: -webkit-linear-gradient(45deg, rgb(51, 56, 103), rgb(21, 26, 79));
      background: -moz-linear-gradient(45deg, rgb(51, 56, 103), rgb(21, 26, 79));
      background: linear-gradient(45deg, rgb(51, 56, 103), rgb(21, 26, 79));
    }
  }
  &__refresh {
    button {
      background: transparent;
    }
    svg {
      width: 15px;
      height: 15px;
      fill: #c1c3cf;
    }
  }
}

.messages-dropmenu {
  display: none;
  &__wrapper {
    position: absolute;
    top: 0;
    transform: translate3d(-13px, 40px, 0px);
    background: #1b1e3f;
    box-shadow: 0 0 40px 2px RGBA(2 2 2 / 50%);
    width: 270px;
    left: 60px;
    border-radius: 9px 9px 0 0;
    @include flexbox();
    flex-direction: column;
    .messages-card__avavtar {
      flex: 0 1 20%;
    }
    .messages-card__text {
      color: #c1ccd3;
    }
    .messages-card__wrapper {
      padding: 15px 10px 15px 10px;
    }
  }
  &__item {
    @media (min-width: $md2+px) {
      &:hover {
        @include anim(0.3s, 0s);
        background-color: rgba(0, 0, 0, 0.24);
        color: rgba(244, 244, 245, 0.9);
      }
    }
  }
  &__button {
    text-align: center;
    padding: 0px 10px 10px 10px;
    &:hover {
      @include anim(0.3s, 0s);
      background-color: rgba(0, 0, 0, 0.24);
      color: rgba(244, 244, 245, 0.9);
    }
    button {
      background: none;
      color: rgba(244, 244, 245, 0.9);
    }
  }
}

.setings-header {
  display: none;
  &__wrapper {
    position: absolute;
    top: 0;
    background: #1b1e3f;
    box-shadow: 0 0 40px 2px RGBA(2 2 2 / 50%);
    transform: translate3d(0px, 40px, 0px);
    right: -128px;
    border-radius: 9px 9px 0 0;
    width: 122px;
    padding: 10px;
  }
  &__title {
    text-align: center;
    margin-bottom: 7px;
    padding-top: 6px;
  }
  &__buttons {
    @include flexbox();
    justify-content: center;
    button {
      color: #f4f4f5;
      box-shadow: inset 0 3px 5px RGBA(0 0 0 / 13%);
      padding: 0.4rem 0.8rem;
      font-size: 0.875rem;
      line-height: 1.5;
      border-color: #2477ff;
      border-radius: 0.25rem;
      @media (min-width: $md2+px) {
        &:hover {
          @include anim(0.3s, 0s);
          background-color: #005bf0;
        }
      }
    }
  }
  &__btn-left {
    background-color: #2477ff;
    margin-right: 2px;
  }
  &__btn-right {
    background-color: #2477ff;
  }
  &__active {
    background-color: #005bf0;
  }
}

.menu-tickets-header {
  display: none;
  &__wrapper {
    position: absolute;
    top: 0;
    background: #1b1e3f;
    box-shadow: 0 0 40px 2px RGBA(2 2 2 / 50%);
    transform: translate3d(0px, 40px, 0px);
    right: -150px;
    border-radius: 9px 9px 0 0;
    width: 243px;
  }
  &__item {
    padding: 10px;
    &:hover {
      @include anim(0.3s, 0s);
      background-color: rgba(0, 0, 0, 0.24);
      color: rgba(244, 244, 245, 0.9);
    }
  }
  &__text {
    text-align: center;
  }
  &__button {
    text-align: center;
    padding: 10px 0;
    button {
      background: none;
      font-weight: 700;
      font-size: 16px;
      color: rgba(244, 244, 245, 0.9);
    }
    &:hover {
      @include anim(0.3s, 0s);
      background-color: rgba(0, 0, 0, 0.24);
      color: rgba(244, 244, 245, 0.9);
    }
  }
}
